$letter-scale: .5;
.l-letter {
    clip-path: inset(-4px);
    margin: 1px;
}

.c-letter {
    cursor: pointer;
    transform-origin: 50% 50%;
    transform: translate(-135%, 0);
    animation-fill-mode: forwards;
    will-change: transform;
}

.c-letter[data-state='appear-from-top'] {
    animation-name: appear-from-top;
}

.c-letter[data-state='appear-from-right'] {
    animation-name: appear-from-right;
}

.c-letter[data-state='appear-from-bottom'] {
    animation-name: appear-from-bottom;
}

.c-letter[data-state='appear-from-left'] {
    animation-name: appear-from-left;
}

.c-letter[data-state='disappear-from-top'] {
    animation-name: disappear-from-top;
}

.c-letter[data-state='disappear-from-right'] {
    animation-name: disappear-from-right;
}

.c-letter[data-state='disappear-from-bottom'] {
    animation-name: disappear-from-bottom;
}

.c-letter[data-state='disappear-from-left'] {
    animation-name: disappear-from-left;
}

@keyframes appear-from-top {
    0% {
        transform: translate(0, -135%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes appear-from-right {
    0% {
        transform: translate(135%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes appear-from-bottom {
    0% {
        transform: translate(0, 135%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes appear-from-left {
    0% {
        transform: translate(-135%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes disappear-from-top {
    0% {
        transform: translate(0, 0);
    }
    
    100% {
        transform: translate(0, -135%);
    }
}

@keyframes disappear-from-right {
    0% {
        transform: translate(0, 0);
    }
    
    100% {
        transform: translate(135%, 0);
    }
}

@keyframes disappear-from-bottom {
    0% {
        transform: translate(0, 0);
    }
    
    100% {
        transform: translate(0, 135%);
    }
}

@keyframes disappear-from-left {
    0% {
        transform: translate(0, 0);
    }
    
    100% {
        transform: translate(-135%, 0);
    }
}