$bar-height: 2.5px;
$bar-width-selected: 40px;
$bar-width-not-selected: 20px; 
$bar-radius: 2px;

.l-summary-pagination__bar {
    margin: 0;
    padding: 10px 0;
}

.c-summary-pagination__bar {
    justify-content: flex-start;
    align-items: center;
    height: $bar-height;
    background-color: white;
    border-radius: $bar-radius;
    margin: 0 2px;
}

.c-summary-pagination__bar[data-state='selected'] {
    width: $bar-width-selected;
    opacity: 1;
}

.c-summary-pagination__bar[data-state='not-selected'] {
    width: $bar-width-not-selected;
    opacity: .5;
}

.l-summary-pagination__bar:hover {
    .c-summary-pagination__bar {
        opacity: 1;
    }
}