.l-page-link {
    position: relative;
}

.l-page-link > h1 {
    position: relative;
    font-size: 4em;
    font-weight: bold;
}

.l-page-link__planet {
    position: absolute;
    transform-origin: 50% 50%;
    top: 50%;
    right: 0;
    transform: scale(0, 0) translate(0, -50%);
}

.l-page-link:hover {
    & > h1 {
        transform: translate(-40px, 0);
    }

    .l-page-link__planet {
        transform: scale(1, 1) translate(0, -50%);
    }
}

@media only screen and (max-width: 700px) {
    .l-page-link > h1 {
        font-size: 2em;
    }
}
