
$button-radius: 20px;
.l-button {
    position: relative;
    padding: 5px 20px;
    border-radius: $button-radius;
    clip-path: inset(0 round $button-radius);
}

.l-button:hover {
    .c-button__filler {
        transform: translate(0, 0);
    }

    .l-button__name {
        transform: translate(0, -100%);
    }

    .c-button__go {
        transform: translate(0, -2px);
    }
}

.c-button__filler {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: $button-radius;
    background-color: #92a10a;
    transform: translate(-100%, 0);
}

.c-button__icon {
    height: 12px;
    margin-right: 6px;
    filter: brightness(0) invert(1);
}

.l-button__content {
    position: relative;
    clip-path: inset(0);
}

.c-button__name {
    position: relative;
    bottom: 1px;
    color: #2A002A;
}

.c-button__go {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -1px;
    left: 0;
    transform: translate(0, 100%);
    color: white;
}