$thumbnail-width: 250px;
$modal-vertical-padding: 40px;
$modal-horizontal-excess: 40px;
#l-project-modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 100vw;
}

#l-project-modal[data-display='appear'] {
    clip-path: circle(130% at 80% 20%);
}

#l-project-modal[data-display='hide'] {
    clip-path: circle(0% at 80% 20%);
}

#l-project-modal__content {
    position: relative;
    height: 800px + 2 * $modal-vertical-padding;
    max-height: 80vh;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 4px;

    display: grid;
    grid-template-columns: ($thumbnail-width - $modal-horizontal-excess) 40px auto;
    grid-template-rows: $modal-vertical-padding $thumbnail-width auto $modal-vertical-padding;
    grid-template-areas:
        'top            top     top' 
        'thumbnail      gap     detail'
        'pagination     gap     detail'
        'bottom         bottom  bottom';
}

#c-project-modal__wall {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #2a002af6;
}

#l-project-modal__thumbnail {
    grid-area: thumbnail;
    position: relative;
    border-radius: 4px;
}

#c-project-modal__thumbnail {
    position: absolute;
    top: 0;
    right: 0;
    height: $thumbnail-width;
    width: $thumbnail-width;
    object-fit: cover;
    border-radius: 4px;
}

#l-project-modal__pagination {
    grid-area: pagination;
    align-items: flex-start;
}

#c-project-modal__pagination {
    margin: 30px 0 0 0;
}

.c-project-modal__pagination-button {
    height: 24px;
    $pagination-padding: 10px;

    &[data-direction='left'] {
        margin: 0 $pagination-padding 0 0;
    }

    &[data-direction='right'] {
        margin: 0 0 0 $pagination-padding;
        transform-origin: 50% 50%;
        transform: scale(-1, 1);
    }
}

#l-project-modal__detail {
    grid-area: detail;
    position: relative;
}

$detail-padding: 30px;
#c-project-modal__detail {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    padding: $detail-padding;
    height: 100%;
    width: calc(100% + 40px);
    background-color: white;
    border-radius: 4px;
    overflow-y: scroll;
}

#c-project-modal__title {
    color: #2A002A;
    font-weight: bold;
    font-size: 40px;
}

#c-project-modal__date {
    color: #2A002A;
    font-size: 16px;
    font-weight: bold;
}

#c-project-modal__description {
    margin-top: 25px;
    color: #2A002A !important;
    max-width: 100%;
    font-size: 14px;

    * {
        color: #2A002A !important;
    }
}

#l-project-modal__tags {
    display: flex;
    flex-flow: row wrap;
}

.c-project-modal__tag {
    margin: 5px;
}

#c-project-modal__buttons {
    position: absolute;
    right: 0;
    bottom: $detail-padding;

    & > [data-type='padding'] {
        margin-left: 10px; 
    }
}