$project-radius: 4px;
$project-detail-height: 55px;
$project-detail-margin: 8px;
$project-width: 220px;

.l-project {
    position: relative;
    height: $project-width;
    width: $project-width + 10px;
    border-radius: $project-radius;
}

.c-project__carpet {
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.041);
    top: 50%;
    left: 50%;
    height: 105%;
    width: 105%;
    transform: translate(-50%, -50%) scale(.97, .97);
    border-radius: $project-radius;
}

.l-project__thumbnail,
.l-project__detail {
    position: relative;
    z-index: 2;
}

.l-project__thumbnail {
    height: 100%;
    width: 100%;
}

.c-project__thumbnail {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: $project-radius;
}

.l-project__detail {
    padding: 0 $project-detail-margin;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    height: $project-detail-height;
    width: 100%;
    opacity: 0;
    // clip-path: inset(100% 0 0 100% round $project-radius);
    border-radius: $project-radius;
}

.l-project__detail > * {
    margin-top: 7px;
}

.l-project__detail > *:first-child {
    margin-top: 0;
}

.c-project__title-icon {
    height: 70%;
    margin: 0 $project-detail-margin;
}

.c-project__title {
    flex: 0 1 auto;
    font-size: .7em;
    font-weight: normal;
    border-radius: $project-radius 40px 40px $project-radius;
}

.c-project__description {
    font-size: .5em;
    color: rgba(255, 255, 255, 0.582);
    letter-spacing: 1px;
}

.c-project__date {
    margin-top: 0px;
    font-size: .5em;
    color: rgba(255, 255, 255, 0.911);
    letter-spacing: 1px;
}

$project-icon-wide: 20px;

.l-project__link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.l-project__link-icon {
    background-color: white;
    height: $project-icon-wide;
    width: $project-icon-wide;
    border-radius: 50%;
    margin-left: 8px;
}

.l-project__link-icon:first-child {
    margin-left: 0;
}

.c-project__code-icon {
    background-color: white;
    height: 40%;
}

.l-project:hover {
    background-size: auto 100%;

    .c-project__carpet {
        transform: translate(-50%, -50%) scale(1, 1);
    }

    .c-project__thumbnail {
        height: calc(100% - #{$project-detail-height} - #{$project-detail-margin});
    }

    .l-project__detail {
        opacity: 1;
        // clip-path: inset(0 round $project-radius);
    }
}