$section-padding: 70px;

#l-experience-section {
    box-sizing: border-box;
    position: relative;
    padding: $section-padding;
    height: 100%;
    width: 100%;
}

#l-experience-section__navigator {
    position: absolute;
    height: calc(100% - 2 * #{$section-padding});
    width: calc(100% - 2 * #{$section-padding});
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'left right';
}

.c-navigator__arrow {
    font-size: 7em;
    opacity: .2;
    color: White;
    height: 100%;
    width: 100%;

    & > img {
        height: 50px;
        transform-origin: 50% 50%;
    }
}

.c-navigator__arrow:hover {
    opacity: .8;
}

#c-navigator__left {
    justify-content: flex-start;
    grid-area: left;

    & > img {
        transform: translateX(-30px);
    }
}

#c-navigator__right {
    justify-content: flex-end;
    grid-area: right;

    & > img {
        transform: scale(-1, 1) translateX(-30px);
    }
}

#l-experience-section__title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 0 0 50px 0;
}

.l-experience-section__experience {
    margin: 0 0 60px 0;
}

#l-experience-section__experiences {
    height: 100%;
    overflow-y: scroll;
    box-sizing: content-box;
    padding-right: 17px;
    clip-path: inset(0 17px 0 0);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.c-experience-section__barrier {
    height: 50px;
}

@media only screen and (max-width: 700px) {
    $section-padding: 40px;
    #l-experience-section {
        padding: $section-padding;
    }

    #l-experience-section__title {
        margin: 0 0 30px 0;
    }
    

    #l-experience-section__experience {
        margin: 0 0 0 10px;
        max-height: calc(100vh - 180px);
    }

    #l-experience-section__navigator {
        height: calc(100% - 2 * #{$section-padding});
        width: calc(100% - 2 * #{$section-padding});
    }
}

@media only screen and (max-width: 400px) {
    $section-padding: 30px;
    #l-experience-section {
        padding: $section-padding;
    }

    #l-experience-section__title {
        margin: 0 0 30px 0;
    }
    

    #l-experience-section__experience {
        margin: 0 0 0 -5px;
    }

    #l-experience-section__navigator {
        height: calc(100% - 2 * #{$section-padding});
        width: calc(100% - 2 * #{$section-padding});
    }

    #c-navigator__left > img {
        transform: translateX(-20px);
    }

    #c-navigator__right > img {
        transform: scale(-1, 1) translateX(-20px);
    }
}