.l-digit {
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%, 0 0%);
}

.l-digit__list {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}

.h-digit {
    pointer-events: none;
    opacity: 0;
    position: relative;
}

.c-digit {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    text-align: right;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}