$menu-line-width: 20px;
$menu-line-height: 2px;
$menu-line-short-width-scale: .5;
$menu-line-vertical-margin: 6px;
$menu-button-padding: 10px;
$line-dashed-wide: 1px;

#l-menu {
    pointer-events: visible;
    position: relative;
    z-index: 999;
    height: 2 * $menu-line-vertical-margin + 3 * $menu-line-height + 2 * $menu-button-padding;
    width: $menu-line-width + 2 * $menu-button-padding;
}

#l-menu__button, #l-menu__content {
    position: absolute;
}

#l-menu__button {
    top: 0;
    left: 0;
    height: 2 * $menu-line-vertical-margin + 3 * $menu-line-height + 2 * $menu-button-padding;
    width: $menu-line-width + 2 * $menu-button-padding;
}

#l-menu__content {
    pointer-events: none;
    height: 2 * $menu-line-vertical-margin + 3 * $menu-line-height + 2 * $menu-button-padding;
    width: $menu-line-width + 2 * $menu-button-padding;
}

#l-menu__body {
    position: relative;
    pointer-events: none;
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        '.          .'
        'content    .';
}

#l-menu__nav-list {
    grid-area: content;
    justify-content: flex-start;
    align-items: flex-end;
}

.l-menu__link {
    margin: 5px 0;
}

.h-rotating-planet {
    position: absolute;
    top: 0;
    left: 0;
    height: 2 * $menu-line-vertical-margin + 3 * $menu-line-height + 2 * $menu-button-padding;
    width: $menu-line-width + 2 * $menu-button-padding;
}

.c-button__circle-art {
    position: absolute;
    top: $menu-line-vertical-margin + $menu-line-height + $menu-button-padding;
    left: $menu-button-padding + $menu-line-width / 2;
    height: 0;
    width: 0;
    border: $line-dashed-wide dashed white;
    border-radius: 50%;
    opacity: 0;
}

.c-button__line-art {
    position: absolute;
    left: $menu-button-padding;
    width: $menu-line-width;
    height: $menu-line-height;
    background-color: white;
    border-radius: 10px;
}

.c-button__line-art[data-position='1'] {
    top: $menu-button-padding;
    transform-origin: 100% 50%;
    transform: scale($menu-line-short-width-scale, 1);
}

.c-button__line-art[data-position='2'] {
    top: $menu-line-vertical-margin + $menu-line-height + $menu-button-padding;
}

.c-button__line-art[data-position='3'] {
    top: 2 * $menu-line-vertical-margin + 2 * $menu-line-height + $menu-button-padding;
    transform-origin: 0% 50%;
    transform: scale($menu-line-short-width-scale, 1);
}

$stars-radius: 120vh, 128vh, 140vh, 160vh, 200vh;
$stars-opacity: 1, .5, .2, .08, .03;

@for $position from 1 through 5 {
    .c-menu__star-layer[data-position='#{$position}'] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: nth($stars-opacity, $position);
        height: 2 * nth($stars-radius, $position);
        width: 2 * nth($stars-radius, $position);
        clip-path: circle(0 at 50% 50%);
        border-radius: 50%;
        background-color: white;
    }
}

$planet-1-distance: 20px;
$planet-1-radius: 3px;

$planet-2-distance: 45px;
$planet-2-radius: 4px;

$white-star-radius: 8px;

#l-menu[data-state='solar-system'] {
    cursor: pointer;

    .h-rotating-planet {
        animation-name: rotating-orbit;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-origin: 50% 50%;
    }

    #h-rotating-planet--1 {
        animation-duration: .7s;
    }

    #h-rotating-planet--2 {
        animation-duration: 1.6s;
    }

    .c-button__circle-art {
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.11, 1.11, 0.15, 0.99);;
        animation-fill-mode: forwards;
    }

    .c-button__circle-art[data-position='1'] {
        animation-name: expand-orbit-1;
    }

    .c-button__circle-art[data-position='2'] {
        animation-name: expand-orbit-2;
    }

    .c-button__line-art {
        animation-duration: .5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    .c-button__line-art[data-position='1'] {
        animation-name: show-planet-1;
    }

    .c-button__line-art[data-position='2'] {
        animation-name: show-white-star;
    }

    .c-button__line-art[data-position='3'] {
        animation-name: show-planet-2
    }
}

@keyframes rotating-orbit {
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes expand-orbit-1 {
    100% {
        top: $menu-line-vertical-margin + 1.5 * $menu-line-height + $menu-button-padding - $planet-1-distance - $line-dashed-wide;
        left: $menu-button-padding + ($menu-line-width / 2) - $planet-1-distance - $line-dashed-wide;
        height: 2 * $planet-1-distance;
        width: 2 * $planet-1-distance;
        opacity: 1;
    }
}

@keyframes expand-orbit-2 {
    100% {
        top: $menu-line-vertical-margin + 1.5 * $menu-line-height + $menu-button-padding - $planet-2-distance - $line-dashed-wide;
        left: $menu-button-padding + ($menu-line-width / 2) - $planet-2-distance - $line-dashed-wide;
        height: 2 * $planet-2-distance;
        width: 2 * $planet-2-distance;
        opacity: 1;
    }
}

@keyframes show-planet-1 {
    100% {
        top: $menu-line-vertical-margin + 1.5 * $menu-line-height + $menu-button-padding - $planet-1-radius;
        left: $menu-button-padding + ($menu-line-width / 2) - $planet-1-radius - $planet-1-distance;
        height: 2 * $planet-1-radius;
        width: 2 * $planet-1-radius;
        transform: scale(1, 1);
    }
}

@keyframes show-white-star {
    100% {
        top: $menu-line-vertical-margin + 1.5 * $menu-line-height + $menu-button-padding - $white-star-radius;
        left: $menu-button-padding + $menu-line-width / 2 - $white-star-radius;
        height: 2 * $white-star-radius;
        width: 2 * $white-star-radius;
        transform: scale(1, 1);
    }
}

@keyframes show-planet-2 {
    100% {
        top: $menu-line-vertical-margin + 1.5 * $menu-line-height + $menu-button-padding - $planet-2-radius;
        left: $menu-button-padding + ($menu-line-width / 2) - $planet-2-radius - $planet-2-distance;
        height: 2 * $planet-2-radius;
        width: 2 * $planet-2-radius;
        transform: scale(1, 1);
    }
}

#l-menu[data-state='idle'] {
    .c-button__circle-art {
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.11, 1.11, 0.15, 0.99);;
        animation-fill-mode: forwards;
    }

    .c-button__circle-art[data-position='1'] {
        animation-name: shrink-orbit-1;
    }

    .c-button__circle-art[data-position='2'] {
        animation-name: shrink-orbit-2;
    }

    .c-button__line-art {
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    .c-button__line-art[data-position='1'] {
        animation-name: hide-planet-1;
    }

    .c-button__line-art[data-position='2'] {
        animation-name: hide-white-star;
    }

    .c-button__line-art[data-position='3'] {
        animation-name: hide-planet-2
    }
}

@keyframes shrink-orbit-1 {
    100% {
        top: $menu-line-vertical-margin + $menu-line-height + $menu-button-padding;
        left: $menu-button-padding + $menu-line-width / 2;
        height: 0;
        width: 0;
        opacity: 0;
    }
}

@keyframes shrink-orbit-2 {
    100% {
        top: $menu-line-vertical-margin + $menu-line-height + $menu-button-padding;
        left: $menu-button-padding + $menu-line-width / 2;
        height: 0;
        width: 0;
        opacity: 0;
    }
}

@keyframes hide-planet-1 {
    100% {
        top: $menu-button-padding;
        left: $menu-button-padding;
        width: $menu-line-width;
        height: $menu-line-height;
        transform: scale($menu-line-short-width-scale, 1);
    }
}

@keyframes hide-white-star {
    100% {
        top: $menu-line-vertical-margin + $menu-line-height + $menu-button-padding;
        left: $menu-button-padding;
        width: $menu-line-width;
        height: $menu-line-height;
        transform: scale(1, 1);
    }
}

@keyframes hide-planet-2 {
    100% {
        top: 2 * $menu-line-vertical-margin + 2 * $menu-line-height + $menu-button-padding;
        left: $menu-button-padding;
        width: $menu-line-width;
        height: $menu-line-height;
        transform: scale($menu-line-short-width-scale, 1);
    }
}

#l-menu[data-state='star-system'] {
    #l-menu__body {
        pointer-events: visible;
        opacity: 1;
    }

    @for $position from 1 through 5 {
        .c-menu__star-layer[data-position='#{$position}'] {
            opacity: nth($stars-opacity, $position);
            clip-path: circle(nth($stars-radius, $position) at 50% 50%)
        }
    }
}

@media only screen and (max-width: 700px) {
    $stars-radius: 90vw, 96vw, 106vw, 122vw, 150vw;

    @for $position from 1 through 5 {
        .c-menu__star-layer[data-position='#{$position}'] {
            height: 2 * nth($stars-radius, $position);
            width: 2 * nth($stars-radius, $position);
        }
    }

    #l-menu[data-state='star-system'] {
        @for $position from 1 through 5 {
            .c-menu__star-layer[data-position='#{$position}'] {
                clip-path: circle(nth($stars-radius, $position) at 50% 50%);
            }
        }
    }
}