.l-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.c-title__icon {
    height: 35px;
}

.c-title__name {
    padding: 0 0 0 15px;
    font-size: 2em;
    font-weight: bold;
}