#l-not-found {
    position: relative;
    height: 100vh;
    width: 100vw;
}

$sun-diameter: 150vh;

#c-not-found__sun {
    position: absolute;
    z-index: 1;
    top: calc(#{-$sun-diameter/2} + 150px);
    right: calc(#{-$sun-diameter/2} + 300px);
    height: $sun-diameter;

}

#c-not-found__astronout {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
}

#l-not-found__description {
    position: absolute;
    z-index: 3;
    bottom: 100px;
    left: 50px;
}

#l-not-found__error {
    align-items: flex-end;
}

#c-not-found__error-code {
    font-weight: bold;
    font-size: 4em;
}

#c-not-found__error-suffix {
    margin: 0 0 8px 8px;
    font-weight: bold;
    font-size: 1.5em;
}

#c-not-found__message,
#c-not-found__clue {
    font-weight: bold;
    font-size: .8em;
}

#c-not-found__clue {
    font-weight: normal;
}

#c-not-found__home-button {
    margin: 20px 0 0 0;
}

@media only screen and (max-width: 800px) {
    $sun-diameter: 100vh;
    #c-not-found__sun {
        top: calc(#{-$sun-diameter/2} + 120px);
        right: calc(#{-$sun-diameter/2} + 140px);
        height: $sun-diameter;
    }

    #c-not-found__astronout {
        top: 45vh;
        height: 35vw;
    }

    #c-not-found__error-code {
        font-size: 3em;
    }
    
    #c-not-found__error-suffix {
        font-size: 1.2em;
    }
    
    #c-not-found__message,
    #c-not-found__clue {
        font-size: .75em;
    }

    #c-not-found__home-button {
        margin: 10px 0 0 0;
    }

    #l-not-found__description {
        left: 40px;
    }
}

@media only screen and (max-width: 400px) {
    $sun-diameter: 120vw;
    #c-not-found__sun {
        top: calc(#{-$sun-diameter/2} + 120px);
        right: calc(#{-$sun-diameter/2} + 60px);
        height: $sun-diameter;
    }

    #c-not-found__astronout {
        top: 45vh;
        height: 60vw;
    }

    #c-not-found__error-code {
        font-size: 2em;
    }
    
    #c-not-found__error-suffix {
        font-size: 1em;
    }
    
    #c-not-found__message,
    #c-not-found__clue {
        font-size: .7em;
    }

    #c-not-found__home-button {
        margin: 10px 0 0 0;
    }

    #l-not-found__description {
        left: 20px;
    }
}