$section-padding: 70px;

#l-project-section {
    box-sizing: border-box;
    padding: $section-padding;
}

#l-project-section__projects {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
}

.l-project-section__project {
    margin: 15px;
}

#l-project-section__title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0 0 20px 0;
}

#l-project-section__project-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@media only screen and (max-width: 700px) {
    $section-padding: 30px;

    #l-project-section {
        padding: $section-padding;
    }

    .l-project-section__project {
        margin: 10px;
    }

    #l-project-section__projects {
        flex-flow: column nowrap;
        align-items: center;
        height: calc(100vh - 2 * #{$section-padding} - 100px); 
        width: calc(100vw - 2 * #{$section-padding});
        overflow-y: scroll;
        overflow-x: hidden;
    }

}