.l-experience {
    display: grid;
    max-width: 1000px;
    grid-template-columns: auto 1fr 23fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        'begin-date     title-circle    role'
        'current-date   dotted-line     detail'
        'end-date       cross           finish';

    h2 {
        font-size: 1.3em;
        font-weight: bold;
    }

    .c-experience__planet {
        transform-origin: 50% 50%;
        transform: scale(0, 0);
    }
}

.l-experience:hover {
    .c-experience__planet {
        transform: scale(1, 1);
    }

    .l-experience__date[data-id='current'] {
        .c-experience__date {
            opacity: .5;
        }
    }
}

$center-padding-horizontal: 15px;
$circle-radius: 15px;

.c-experience__date {
    justify-content: flex-end;
    align-items: center;
}

.c-experience__range-date {
    display: none;
    font-weight: bold; 
}

.c-experience__date[data-id='begin'] {
    grid-area: begin-date;
}

.l-experience__title-circle {
    position: relative;
    grid-area: title-circle;
    padding: 0 $center-padding-horizontal;
}

.c-experience__empty-circle {
    position: absolute;
    height: $circle-radius - 2px;
    width: $circle-radius - 2px;
    border-radius: 50%;
    border: 1px solid white;
}

.c-experience__role {
    grid-area: role;
    justify-content: flex-start;
    align-items: center;
}

.l-experience__dotted-line {
    grid-area: dotted-line;
    padding: 10px $center-padding-horizontal;
}

.l-experience__date[data-id='current'] {
    grid-area: current-date;
    
    .c-experience__date {
        opacity: 0;
        display: flex;
        justify-content: flex-end;
    }
}


.c-experience__dotted-line {
    width: 0px;
    height: 100%;
    border-left: 4px dotted white; 
}

.l-experience__detail {
    grid-area: detail;
    padding: 0 0 20px 0;
}

.c-experience__company {
    padding: 5px 0 0 0;
}

.c-experience__brief {
    margin: 15px 0;
}

.l-experience__tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.c-experience__tag {
    margin: 3px;
}

.c-experience__date[data-id='end'] {
    grid-area: end-date;
}

.l-experience__cross {
    grid-area: cross;
    padding: 0 $center-padding-horizontal;
}

.c-experience__cross {
    position: relative;
    height: 15px;
    width: 15px;
    
    &::before, &::after {
        content: '';
        background-color: white;
        position: absolute;
        height: 100%;
        width: 2px;
        border-radius: 2px;
        top: 50%;
        left: 50%;
        transform-origin: 50% 50%;
    }

    &::before {
        transform: translate(-50%, -50%) rotateZ(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotateZ(-45deg);
    }
}

.c-experience__finish {
    justify-content: flex-start;
    grid-area: finish;
}


@media only screen and (max-width: 700px) {
    .l-experience {
        grid-template-columns: auto 25fr auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
            'title-circle    role'
            'dotted-line     detail'
            'cross           finish';
        font-size: 1em;
        
        h2 {
            font-size: 1em;
        }
    }

    .c-experience__range-date {
        display: block;
    }

    .c-experience__date {
        display: none !important; 
        height: 0 !important;
    }
}