.c-planet, 
.c-planet__orbiter {
    border-radius: 50%;
    transform-origin: 50% 50%;
}

.c-planet {
    position: relative;
    animation-name: rotating-orbit;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes rotating-orbit {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(60deg);
    }
}

.c-planet__orbiter {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
}