#l-summary-tag-skill {
    box-sizing: border-box;
    position: relative;
    padding: 4px 20px;
    background-color: white;
    border-radius: 30px;
    clip-path: inset(0 round 30px 30px 30px 30px);
}

#l-summary-tag-skill__label {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
    position: relative;
    top: 0;
    left: 0;
}

#c-summary-tag-skill__title {
    position: relative;
    text-align: center;
    min-width: 40px;
    color: black;
    font-weight: lighter;
}

#c-summary-tag-skill__fill {
    background-color: #92a10a;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: 0 50%;
    border-radius: 30px;
    transform: translate(-100%, 0);
}

#c-summary-tag-skill__percentage {
    color: white;
    position: absolute;
    top: 25px;
}

#l-summary-tag-skill[data-state='mouse-enter'] {
    background-color: #944646;
    cursor: pointer;

    #c-summary-tag-skill__title {
        transform: translate(0, -25px);
    }

    #c-summary-tag-skill__percentage {
        top: 0;
    }
}

@media only screen and (max-width: 700px) {
    #l-summary-tag-skill {
        padding: 2px 12px;
    }

    #c-summary-tag-skill__title {
        min-width: 10px;
    }
}