.l-month {
    position: relative;
    clip-path: inset(3px 0 0 0);
}

.l-month__list {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.h-month {
    pointer-events: none;
    opacity: 0;
    position: relative;
}

.c-month {
    margin: 0;
    width: 100%;
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}