#l-loading {
    position: absolute;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #92a10a;
    transition-delay: 1.5s;
}

$planet-wide: 15px;
#c-loading__circle {
    height: $planet-wide;
    width: $planet-wide;
    background-color: white; 
    border-radius: 50%;
}

$spinner-wide: 100px;
#l-loading__spinner {
    height: $spinner-wide;
    width: $spinner-wide;
    transform-origin: 50% 50%;
    transform: rotateZ(0) scale(0, 0);
}

@keyframes rotating-planet {
    0% {
        transform: rotateZ(0) scale(0, 0);
    }

    50% {
        transform: rotateZ(180deg) scale(1, 1);
    }

    100% {
        transform: rotateZ(360deg) scale(0, 0);
    }
}

#c-loading__title {
    margin-left: 20px;
}

#l-loading[data-display='show'] {
    opacity: 1;
    
    #l-loading__spinner {
        animation-name: rotating-planet;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

#l-loading[data-display='hide'] {
    opacity: 0;
    pointer-events: none;
    
    #l-loading__spinner {
        animation-name: idle;
    }
}