#l-about-section {
    box-sizing: border-box;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding-left: 150px;
}

#l-about-section__summary {
    display: flex;
    flex-flow: column nowrap;
    padding: 4px;
    margin-bottom: 15px;
}

#l-about-section__skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 60vw;
}

.l-about-section__skill {
    margin: 4px;
}

@media only screen and (max-width: 700px) {
    #l-about-section {
        justify-content: flex-start;
        overflow-y: scroll;
        padding: 20px;
    }

    #l-about-section__summary {
        min-height: 200px; 
        justify-content: flex-end;
        margin-bottom: 5px;
    }

    #l-about-section__skills {
        max-width: none;
    }

    .l-about-section__skill {
        margin: 2.5px;
    }
}