$contact-wide: 17px;

.l-contact-media {
    position: relative;
    height: 3 * $contact-wide;
    width: 3 * $contact-wide;

}

.c-contact-media__circle-art,
.c-contact-media__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-contact-media__circle-art {
    pointer-events: none;
    height: 3 * $contact-wide;
    width: 3 * $contact-wide;
    border: 1px solid white;
    border-radius: 50%;
    opacity: 0;
}

.c-contact-media__icon {
    position: absolute;
    height: $contact-wide;
    opacity: .5;
}

.l-contact-media:hover .c-contact-media__circle-art{
    height: 2 * $contact-wide;
    width: 2 * $contact-wide;
    opacity: 1;
}

.l-contact-media:hover .c-contact-media__icon {
    opacity: 1;
}
