.l-icon-button,
.c-icon-button__filler {
    position: relative;
    height: 26px;
    width: 26px;
    border-radius: 50%;
}

.l-icon-button {
    clip-path: circle(50% at 50% 50%);
}

.l-icon-button:hover {
    & > .c-icon-button__filler {
        transform: translate(0, 0);
    }
}

.c-icon-button__filler {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #92a10a;
    transform-origin: 50% 50%;
    transform: translate(0, 100%);
}

.c-icon-button__icon {
    height: 10px;
}