$logo-radius: 60px;

#l-nan-logo {
    position: relative;
    height: $logo-radius;
    width: $logo-radius;

    #c-nan-logo__link {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.5, 1.5);
        border: .5px solid white;
        border-radius: 50%;
        opacity: 0;
        // background-color: rgb(201, 182, 11);
        // clip-path: polygon(
        //     50% 50%,
        //     50% 0%,
        //     50% 0%,
        //     50% 0%,
        //     50% 0%,
        //     50% 0%,
        //     50% 0%,
        //     50% 0%,
        //     50% 0%,
        //     50% 0%,
        //     50% 50%
        // );
    }
}

#c-nan-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: visible;
    height: 30px;
}

$logo-planet-radius: 6px;

#l-nan-logo__orbit {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
    opacity: 0;
    animation-name: rotating-orbit;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#c-nan-logo__planet {
    height: $logo-planet-radius;
    width: $logo-planet-radius;
    position: relative;
    top: 50%;
    left: -50%;
    transform: translate(0, -50%);
    background-color: white;
    border-radius: 50%;
}

#l-nan-logo:hover {
    #c-nan-logo__link {
        transform: translate(-50%, -50%) scale(1, 1);
        opacity: 1;
        // background-color: white;
        // animation-name: circle-up;
        // animation-timing-function: ease-out;
        // animation-duration: 1.5s;
        // animation-fill-mode: forwards;
    }

    #l-nan-logo__orbit {
        opacity: 1;
    }
}

@keyframes rotating-orbit {
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes circle-up {
    0% {
        clip-path: polygon(
            50% 50%,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 50%
        );
    }

    12.5% {
        clip-path: polygon(
            50% 50%,
            50% 0%,
            100% 0%,
            100% 0%,
            100% 0%,
            100% 0%,
            100% 0%,
            100% 0%,
            100% 0%,
            100% 0%,
            50% 50%
        );
    }

    25% {
        clip-path: polygon(
            50% 50%,
            50% 0%,
            100% 0%,
            100% 50%,
            100% 50%,
            100% 50%,
            100% 50%,
            100% 50%,
            100% 50%,
            100% 50%,
            50% 50%
        );
    }

    37.5% {
        clip-path: polygon(
            50% 50%,
            50% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            100% 100%,
            100% 100%,
            100% 100%,
            100% 100%,
            100% 100%,
            50% 50%
        );
    }

    50% {
        clip-path: polygon(
            50% 50%,
            50% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 50%
        );
    }

    62.5% {
        clip-path: polygon(
            50% 50%,
            50% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            50% 100%,
            0% 100%,
            0% 100%,
            0% 100%,
            0% 100%,
            50% 50%
        );
    }

    75% {
        clip-path: polygon(
            50% 50%,
            50% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            50% 100%,
            0% 100%,
            0% 50%,
            0% 50%,
            0% 50%,
            50% 50%
        );
    }

    87.5% {
        clip-path: polygon(
            50% 50%,
            50% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            50% 100%,
            0% 100%,
            0% 50%,
            0% 0%,
            0% 0%,
            50% 50%
        );
    }

    100% {
        clip-path: polygon(
            50% 50%,
            50% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            50% 100%,
            0% 100%,
            0% 50%,
            0% 0%,
            50% 0%,
            50% 50%
        );
    }
}