$frame-wide: 30px;

#l-frame {
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    height: 100%;
    width: 100%;
    display: grid;
    padding: $frame-wide;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto; 
    grid-template-areas:
        'logo header right-top'
        'left center right'
        'left-bot footer right-bot';
}

#l-frame__nan-logo {
    grid-area: logo;
    justify-content: flex-start;
    align-items: flex-start;
}

#l-frame__menu {
    position: absolute;
    top: 20px;
    right: 20px;
    justify-content: flex-end;
    align-items: flex-start;
}

#l-frame__pagination {
    grid-area: right;
    justify-content: flex-end;
}

#l-frame__footer {
    grid-area: left-bot;
    align-items: flex-end;
}

@media only screen and (max-width: 700px) {
    #l-frame {
        padding: 15px;
        grid-template-columns: 1fr auto 1fr;
    }

    #l-frame__footer {
        grid-area: footer;
    }
}